@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 1. YOUR COLORS */
  --color-primary: #fea928;
  --color-secondary: #ed8900;
}

/* 2. YOUR CONTAINER SETUP */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 3rem;
  }
}

div[style*="backgroundPosition"] {
  position: relative;
}

.footer-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 10;
}

.footer-content h1 {
  font-size: 24px;
  margin: 0;
}
